
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481031764558'); /* IE9*/
  src: url('iconfont.eot?t=1481031764558#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481031764558') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481031764558') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481031764558#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before { content: "\e667"; }

.icon-cart:before { content: "\e6af"; }

.icon-saoyisao:before { content: "\e631"; }

.icon-redpacket:before { content: "\e6e0"; }

.icon-caipiao:before { content: "\e603"; }

.icon-wifi:before { content: "\e6f2"; }

.icon-wefill:before { content: "\e6f4"; }

.icon-fzst-dian:before { content: "\e63a"; }

.icon-shouyeshouye:before { content: "\e60a"; }

.icon-shoujichongzhi:before { content: "\e63e"; }

.icon-mao:before { content: "\e76e"; }

.icon-faxian2-copy:before { content: "\e601"; }

.icon-tao0101:before { content: "\e687"; }

.icon-peoplelist:before { content: "\e7be"; }

.icon-tianmao:before { content: "\e67e"; }

.icon-weitaoguanzhufill:before { content: "\e627"; }

.icon-sousuolan-sousuo:before { content: "\e668"; }

