.search{background: #333;font-size:.36rem ;font-family: "微软雅黑";}
 .yk-list-img{padding:.3rem 1.02rem .48rem 1.02rem;background: #f7f7f7;}
.yk-list-img  img{width:4.43rem ;height: 3.36rem;border: 1px solid #e0e0e0;}
.yk-list-bq{width:5.02rem;height:.84rem}
