body{
	background-color: #f7f7f7;
}
.f-myXiuBox{
	width:100%;
	height:7.36rem;
	padding:0.65rem 0.3rem 0;
	box-sizing: border-box;
	background-color: #f7f7f7;
}
.f-myXiuBox .f-userMsg{
	height:1.62rem;
	width:100%;
	display: flex;
	margin-bottom: 0.83rem;
}
.f-myXiuBox .f-userMsg .f-userImg{
	width:1.68rem;
	height:1.62rem;
}
.f-myXiuBox .f-userMsg .f-userImg img{
	width:100%;
	height:100%;

}
.f-myXiuBox .f-userMsg .f-userName{
	margin-left: 0.34rem;
	font-size: 0.36rem;
}

.f-myXiuBox .f-userMsg .f-userName dt{
	line-height: 0.98rem;
}
.f-myXiuBox .f-userMsg .f-userName dd span{
	display: inline-block;
	margin-right: 0.44rem;
	height:0.57rem;
	width:1.1rem;
	text-align: center;
	line-height: 0.57rem;
	color: #fff;
	border-radius: 0.10rem;
	background-color: #e93c71;
}
.f-myXiuBox .f-myOrder{
	font-size: 0.36rem;
	height: 3.6rem;
	width: 100%;
	border:1px solid #b6b6b6;
	border-radius: 0.2rem;
}
.f-myXiuBox .f-myOrder .f-myOrder-list{
	width: 100%;
	height: 0.9rem;
	width: 100%;
	box-sizing: border-box;
	padding:0 0.3rem;
	line-height: 0.9rem;
}
.f-myXiuBox .f-myOrder .f-myOrder-list+.f-myOrder-list{
	border-top:1px solid #b6b6b6;
}
.f-myXiuBox .f-myOrder .f-myOrder-list b{
	float: right;
}


/*弹出项css样式*/

.f-myXiuMark{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
	padding: 0 0.3rem;
	box-sizing: border-box;
	display: none;
}
.f-myXiuMark .closeMyxiuMarkP{
	width:100%;
	height:1rem;
	font-size: 0.6rem;
	line-height: 1rem;
	
}
.f-myXiuMark .closeMyxiuMarkP .closeMyxiuMark{
	float: right;
}
.f-myXiuMark .f-showMark{
	width:100%;
	font-size: .5rem;
	height: 8rem;
	overflow: auto;
	border-radius: .4rem;
	background-color:#fff;
	border:1px solid  #aaa;
	box-shadow: .1rem .1rem 1rem #fff;
	
}
.f-myXiuMark .f-showMark .f-showMarkTitle{
	text-align: center;
	color:#000;
	line-height: 1rem;
	border-bottom: 1px solid  #aaa;
}
.f-myXiuMark .f-showMark .f-myXiuUser{
	height:auto;
	width:100%;
}
.f-myXiuMark .f-showMark .f-myXiuUser .myXiuUserLog{
	display: flex;
	width:100%;
	height:2.3rem;
	padding:.3rem;
	box-sizing: border-box;
	border-bottom: 1px solid #aaa;
}
.f-myXiuMark .f-showMark .f-myXiuUser .myXiuUserLog .userLogleft{
	width: 2rem;
	height:auto;
	border: 1px solid #aaa;
	overflow: hidden;
}
.f-myXiuMark .f-showMark .f-myXiuUser .myXiuUserLog .userLogleft img{
	height:100%;
	
	
}
.f-myXiuMark .f-showMark .f-myXiuUser .myXiuUserLog .userLogRight{
	font-size: .25rem;
	flex: 1;
	color: #000;
	line-height: .4rem;
	padding-left: .1rem;
	position: relative;
}
.f-myXiuMark .f-showMark .f-myXiuUser .myXiuUserLog .userLogRight .goodsName{
	height: .8rem;
	
}
.f-myXiuMark .f-showMark .f-myXiuUser .myXiuUserLog .userLogRight .goodsPrice b{
	color: #D6104E;
}
.f-myXiuMark .f-showMark .f-myXiuUser .myXiuUserLog .userLogRight .gouwuche{
	position: absolute;
	bottom: 0rem;
	right:0rem;
	background-color: #ee5782;
	padding: .1rem .27rem;
	border-radius: .2rem;
	color: #fff;
}
