header .return{
	position: absolute;
	left:0.2rem;
}
.f-seoList{
	border: 1px solid #b6b6b6;
	display: inline-block;
	font-size: 0.36rem;
	
	padding:0.1rem;
	border-radius: 0.3rem;
	font-weight: normal;
}
.f-seoList:hover{
	color: red;
}
.f-btnSeo{
	display: block;
	width:80%;
	margin: .2rem auto;
	line-height: .6rem;
	font-size: .4rem;
	border-radius: .3rem;
	background-color: #D6104E;
	color: #fff;
}
.baiduSeo li{
	width:100%;
	position: relative;
	background-color: #fff;
	color: #b6b6b6;
	border-bottom: 1px dashed #b6b6b6;
	border-radius: .2rem;
	padding-left: .2rem;
	box-sizing: border-box;
}
.baiduSeo{
	border-radius: .2rem;
	width:100%;
	height:auto;
}
